.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 2em;
    transform: translate(-50%, -50%);
}

.fileInfo {
    width: 50vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 15px 10px 10px 10px #000;
}

.download {
    width: 40vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 15px 10px 10px 10px #000;
}