* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --shadows1: 5px 5px white;
  --shadows2: 5px 5px white;
  --shadows3: 5px 5px white;
}

body {
  background:  rgb(2, 2, 37) !important;
  margin: 0;
  width: 100vw;
  height: 100vh;
  animation: aura 15s ease-in-out infinite alternate;
}


@keyframes aura {
  0% { 
    background-position: 0% 50%; 
  }
  100% { 
    background-position: 100% 50%; 
  }
}