.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main:before {
  content: "";
  background-image: linear-gradient(to top right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.763) 50%, rgba(0, 0, 0, 0.769) 0%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#canvas {
  opacity: 0;
  transition: 1s opacity cubic-bezier(0.55, 0, 0.1, 1);
  filter: grayscale(100%);
}

#canvas.ready {
  opacity: 0.4;
}

.particle {
  z-index: -1;
}

.particle, .particle::after {
  position: absolute;
  background: magenta;
}
.particle::after {
  content: "";
  right: 100vw;
}
.particle:nth-child(1){
  animation: move 5s infinite linear;
}
.particle:nth-child(2){
  animation: move 15s infinite linear;
}
.particle:nth-child(3){
  animation: move 10s infinite linear;
}
.particle:nth-child(1), .particle:nth-child(1)::after{
  box-shadow: var(--shadows1);
  width: 2px;
  height: 2px;
}
.particle:nth-child(2), .particle:nth-child(2)::after{
  box-shadow: var(--shadows2);
  width: 4px;
  height: 4px;
}
.particle:nth-child(3), .particle:nth-child(3)::after{
  box-shadow: var(--shadows3);
  width: 5px;
  height: 5px;
}
@keyframes move {
  from {transform: translateX(0vw);}
  to {transform: translateX(100vw);}
}