.glass {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 50vw;
  height: 40vh;
  z-index: 99999;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 15px 10px 10px 10px #000;
}

.glass h1 {
  font-size: 1.6em;
  font-family: sans-serif;
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: .5em;
}

.btns button {
  width: 80%;
  margin-top: .5em;
  padding: 1em;
  box-shadow: 2px 1px 1px 1px #000;
  border-radius: 20px 0 20px 0;
  font-size: 1em;
  cursor: pointer;
}

.btns div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 80%;
}

.btns div button:nth-child(2) {
  border-radius: 0 20px 0 20px;
}
/* .card {
  width: 50vw;
  height: 80vh;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 50%;
  box-shadow: 0px 0px 10px 10px #ffffff98;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border-radius: 150px 0 150px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.card::before {
  content: "";
  z-index: -2;
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    rgba(255, 255, 255, 0.45) 10px,
    rgba(255, 255, 255, 0.45) 20px
  );
  border-radius: 150px 0 150px 0;

  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.card::after {
  content: "";
  position: absolute;
  z-index: -2;

  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 150px 0 150px 0;
}


.card h1 {
    font-size: 1.8em;
    font-family: sans-serif;
} */
